.home {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ff0000; /* Set your desired background color */
}

.level-container {
  background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow for depth */
}

.square-container {
  font-size: 30px;
  width: 150px;
  height: 150px;
  border: 2px solid red; /* Set your desired border color */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: lightcoral; /* Set your desired background color */
  margin-right: 10px; /* Adjust the margin between square containers */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.square-container:hover {
  background-color: red; /* Set your desired hover background color */
  cursor: pointer; /* Change cursor on hover, optional */
}
