.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav_logo span {
  font-size: 70px;
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold; /* Adjust the font weight as needed */
}

.nav_logo,
.button {
  color: white;
}
.nav_logo {
  font-size: 25px;
}

.nav_link:hover {
  color: #d9d9d9;
}


/* Home */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* From */


.signup_form {
  display: none;
}



.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.button1 {
  width: 300px;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: lightcoral; /* Set your desired button color */
  color: #fff; /* Set your desired text color */
  font-size: 25px; /* Set your desired font size */
  margin: 10px; /* Adjust the margin between buttons */
}

.button1:hover {
  background-color: red; /* Set your desired hover color */
}
a {
  color: white;
}